<!-- Ne pas afficher l'article si article.buyer est différent de nil (Donc s'il a été acheté) -->
<!-- if article.buyer != nil -->


  <% @articles.each do |article| %>
  <!-- Le code ici a pour but de ne montrer que les articles que l'on recherche grace aux filtres 
        Parameters: {"console"=>"PS1", "typeofgame"=>"Console"}  Ce qui signifie, si aucun filtre n'existe, donc on affiche tout
        else   Si on rentre dans la condition else, cela signifie qu'il y a un filtre, dans ce cas on affiche pas tout -->
        <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h3 class="fs-2"><%= article.title %></h3>
        <p><%= article.content %></p>
        <%= link_to "Voir cet article", article_path(article), class:"icon-link d-inline-flex align-items-center" %>
        <% if current_user %>
        <%= link_to "Ajouter au panier", article_path(article), class:"icon-link d-inline-flex align-items-center" %>
        <% end %>
          <%= article.price %> Euros
      </div>

  <% end %>