<div class="container px-4 py-5" id="featured-3">
    <div class="row center">


    <%= form_tag article_images_path(@article), multipart: true do %> 
      <%= file_field_tag :images, class:"btn btn-outline-dark border-2 rounded-0" %> 
      <%= submit_tag "Valider la photo", class:"btn btn-primary rounded-0" %>
    <% end %> 


    <%if @article.images.attached?%>
        <% i = 0 %> <!-- Ce sera l'ID de l'image dans le tableau d'image -->
        <% @article.images.each do |image|%>
        <div class="feature col-lg-4 col-md-6"> 
            <div class="col">    
                <%= image_tag image, alt: 'avatar', class: "img-fluid border border-2 border-dark zoom bg-white img", style: 'height:27rem width:100rem;' %> 
            </div>
        <div class="col">  
          <%= button_to "Supprimer l'article", article_image_path(@article.id, image.id, task_id: i), method: :delete, class:"btn btn-danger rounded-0" %>
            <% i = i + 1 %>
        </div> 
      </div>
    <% end %> 
    </div>
</div>    



 <% if current_user == @article.seller %>
<section class="bg-mainos">
  <div class="container pt-5 pb-5">
    <div class="card">
      <div class="card-body rounded-0 border border-2 border-dark card-box">
        <p class="lead text-dark">Ajoute des photos </P>
          <div class="d-flex justify-content-around text-center align-items-center">
        
<div class="container px-4 py-5" id="featured-3">
     <%end%>
 </div>



        </div>
      </div>
    </div>
  </div>
</section>
<% end %>