<%= @article.title %>
<%= @article.content %>
<%= @article.price %>

<div class="container">
  <div class="card">
    <div class="container">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <%= render 'product_image' , :article => @article%>
            </div>
            <div class="tab-pane" id="pic-2">
              <%= render 'product_image' , :article => @article%>
            </div>
            <div class="tab-pane" id="pic-3">
              <%= render 'product_image' , :article => @article%>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active">
              <a data-target="#pic-1" data-toggle="tab"><%= render 'product_image' , :article => @article%></a>
            </li>
            <li>
              <a data-target="#pic-2" data-toggle="tab"><%= render 'product_image' , :article => @article%></a>
            </li>
            <li>
              <a data-target="#pic-3" data-toggle="tab"><%= render 'product_image' , :article => @article%></a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="article-title"><%= @article.name %></h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <span class="review-no">41 reviews</span>
          </div>
          <p class="article-description"><%= @article.description %></p>
          <h4 class="price">current price:
            <span>$<%= @article.price %></span></h4>
          <p class="vote">
            <strong>91%</strong>
            of buyers enjoyed this article!
            <strong>(87 votes)</strong>
          </p>
          <h5 class="sizes">sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">colors:
            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5>
          <div class="action">

            <%if !@current_cart.articles.include?(article)%>
              <%# if logged_in? %>
                <!-- Add to Basket -->
                <%=button_to line_items_path(:product_id => article.id), class: "btn btn-warning" , style: "margin-top:15px;" , params:{productID: article.id} do %>
                <i class="glyphicon glyphicon-plus" style="color:black;"></i>
                Add to Basket
              <% end %>
              <%# end %>
              <%else %>

                <!-- See lineItem section below for explanation of line_item links -->
                <ul class="users">
                  <!-- <li> -->
                  <!-- <%#= link_to "Add one", line_item_add_path(:id => line_item), method: :post %> -->
