<% if flash[:error] %>
  <div class="notice", style="color: red"><%= flash[:error] %></div>
<% end %>

<% if current_user.nil? %>
<%= render "form/header/header" %>
<% end %>

      <!-- Partie filtre -->
      <section class="bg-white">
      <div class="container">
        <div class="p-5 ">
        <%= form_with url: "/articles", method: :get do |form| %>
            <%= form.label :console %> <br />
            <%= form.select :console, options_for_select(Article.consoles.map {|key, value| [key.titleize, Article.consoles.key(value)]}) %> <br />

	          <%= form.label :typeofgame %>
            <%= form.select :typeofgame, options_for_select(Article.typeofgames.map {|key, value| [key.titleize, Article.typeofgames.key(value)]}) %>
            
	    <%= form.submit %>
        <% end %>
        </div>
      </div>
      </section>

<section class="bg-mainos">
<div class="container ">
  <div class="row ">
    <% @articles.each do |article| %>
    
      <% if article.buyer != nil %>
      <% elsif params.include?(:console) == false && params.include?(:typeofgame) == false %> <!-- Si y'a aucun filtre -->
        <%= render partial: "form/article/allarticle", locals: { article: article } %>
      <% elsif article.console == params[:console] || article.typeofgame == params[:typeofgame] %> <!-- Si y'a un filtre -->
        <%= render partial: "form/article/allarticle", locals: { article: article } %>
      <% end %>
    <% end %>
  </div>
</div>

  </div>
</section>

<div class="h-100 bg-white">
<%= link_to "Retour à l'accueil", root_path %>
</div>




