<% if flash[:error] %>
  <div class="notice", style="color: red"><%= flash[:error] %></div>
<% end %>

<%= render "form/header/header" %>

      <!-- Partie filtre -->
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
        <%= form_with url: "/articles", method: :get do |form| %>
            <%= form.label :console %> <br />
            <%= form.select :console, options_for_select(Article.consoles.map {|key, value| [key.titleize, Article.consoles.key(value)]}) %> <br />

	          <%= form.label :typeofgame %>
            <%= form.select :typeofgame, options_for_select(Article.typeofgames.map {|key, value| [key.titleize, Article.typeofgames.key(value)]}) %>
            
	    <%= form.submit %>
        <% end %>
        </div>
      </div>

<p class="text-uppercase font-weight-bold">Cards</p>
  
    <%= render "form/article/allarticle" %>  <!-- A modifier -->



<%= link_to "New article", new_article_path %>



<%= link_to "Mettre un commentaire", nil , remote: true, class: "btn btn-danger", data: {controller: "background"}%> <!-- Pas encore codé -->
