<% if flash[:error] %>
  <div class="notice", style="color: red"><%= flash[:error] %></div>
<% end %>

      <!-- Partie filtre -->
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
        <%= form_with url: "/articles", method: :get do |form| %>
            <%= form.label :console %> <br />
            <%= form.select :console, options_for_select(Article.consoles.map {|key, value| [key.titleize, Article.consoles.key(value)]}) %> <br />

	          <%= form.label :typeofgame %>
            <%= form.select :typeofgame, options_for_select(Article.typeofgames.map {|key, value| [key.titleize, Article.typeofgames.key(value)]}) %>
            
	    <%= form.submit %>
        <% end %>
        </div>
      </div>

<p class="text-uppercase font-weight-bold">Cards</p>
<div class="row">
  <% @articles.each do |article| %>
    <% if article.buyer != nil %>
    <% elsif params.include?(:console) == false && params.include?(:typeofgame) == false %> <!-- Si y'a aucun filtre -->
      <%= render partial: "form/article/allarticle", locals: { article: article } %>
    <% elsif article.console == params[:console] || article.typeofgame == params[:typeofgame] %> <!-- Si y'a un filtre -->
      <%= render partial: "form/article/allarticle", locals: { article: article } %>
    <% end %>
  <% end %>
</div>


<%= link_to "New article", new_article_path %>



<%= link_to "Mettre un commentaire", nil , remote: true, class: "btn btn-danger", data: {controller: "background"}%> <!-- Pas encore codé -->
