<p style="color: green"><%= notice %></p>

<%= render "form/article/show" %>

<!-- ici la section des boutons modifier article/revenir/supprimer -->
<section>
	  <div class="container py-0">
	    <div class="row">
	      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
          <div class="card card-custom bg-white border-white border-0" style="height: auto">
            <div class="container py-0">	         
  <%= link_to "Modifier l'article", edit_article_path(@article) %> |
  <%= link_to "Revenir à l'article", articles_path %>
  <%= button_to "Supprimer l'article", @article, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>



