<p style="color: green"><%= notice %></p>

<%= render "form/article/show" %>

<!-- ici la section des boutons modifier article/revenir/supprimer -->


<section>
    <div class="container py-0">
    <div class="p-5 mb-4 bg-white rounded-0 border border-2 border-dark">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold "><%= @article.title %></h1>
        <p class="col-md-12"><%= @article.content %></p>
        <%= @article.console %>
        
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <% if current_user == @article.seller %>
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-0 border border-2 border-dark">
           <%= link_to "Modifier l'article", edit_article_path(@article), class:"btn btn-warning rounded-0" %>
           <%= button_to "Supprimer l'article", @article, method: :delete, class:"btn btn-danger rounded-0" %>
        </div>
      </div>
      <% else %>
      <div class="col-md-6">
        <div>
           <%= image_tag "game.png", style:"height: 300px;" %>
        </div>
      </div>
      <% end %>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-white border rounded-0 border border-2 border-dark">
            <%= button_to "Mettre dans le caddie", user_carts_path(current_user, article: @article.id), method: :create, class:"btn btn-warning rounded-0" %>
        </div>
      </div>
    </div>
  </div>
</section>
  
<%= render partial: "thecomments/form",  locals: {article: @article}%>

<div>ICI TU DOIS VOIR TES ARTICLES VENDU </div>
<% @articles.each do |article| %>  <!-- Seul les articles vendu et dont le proprio est l'utilisateur de la page seront visibles-->
    <% if article.seller = @user && article.buyer != nil %>
        <%= article.title%>
        <%= article.content%>
    <% end %>
<% end %>



