<p style="color: green"><%= notice %></p>

<%= render "form/article/show" %>


<div class="container bootdey">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="col-md-6">

  <%= link_to "Modifier l'article", edit_article_path(@article) %> |
  <%= link_to "Revenir à l'article", articles_path %>
  <%= button_to "Supprimer l'article", @article, method: :delete %>

    </section>
       </div>
      </div>
    </div>
</div>