<p style="color: green"><%= notice %></p>

<%= render "form/article/show" %>

<div class="commentaire">
  <%= render "form/article/newcom" %>
</div>
<%= link_to "Mettre un commentaire", nil , remote: true, class: "btn btn-danger", data: {controller: "comments", action: "comments#toggleForm"}%>
<!-- <%= render "form/article/comments" %> -->
<% @comments.each do |comment| %>
<%= comment.title%>
<%= comment.content%>
<% end %>

<div class="container bootdey">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="col-md-6">

  <%= link_to "Modifier l'article", edit_article_path(@article) %> |
  <%= link_to "Revenir à l'article", articles_path %>
  <%= button_to "Supprimer l'article", @article, method: :delete %>

    </section>
       </div>
      </div>
    </div>
</div>