  <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow  my-3 py-2 start-0 end-0 mx-4" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-sm-3" href="/">OLD SKOOL GAMING (logo)</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <%= link_to "OLD SKOOL GAMING", old_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "KIT UI", kit_path, class:"nav-link active" %>
          </li>
        </ul>
  <% if current_user %>
    <div class="d-flex py-3">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to "Mon compte", user_path(current_user), class:"btn order-0 fw-bold" %>
      </li>
        <li class="nav-item">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-dark rounded-pill order-0 fw-bold"%>
      </li>
      <li class="nav-item">
        <%= link_to "PANIER / 0,00 €", user_carts_path(current_user), class:"btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0" %>
      </li>
    </ul>
    </div>
  <% else %>
    <div class="d-flex py-3">
      <li class="nav-item ">
        <%= link_to "Log in", new_user_session_path, class:"btn btn-dark rounded-pill order-0 fw-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-dark rounded-pill order-0 fw-bold"  %>
      </li>
    </div>
  <% end %>
      </div>
    </div>
  </nav>