  <div class="container d-flex flex-row bg-white pt-3 pb-3 border border-2 border-dark card-box">
  <%= form_with url: thecomments_path do |form| %>
    
   <%= form.hidden_field :article_id, :value => article.id %>
   <%= form.hidden_field :user_id, :value => current_user.id %>
<div>
   <p>Titre</p>
   <%= form.text_area :title %>
</div>
<div>
    <p>Commentaire</p>
   <%= form.text_area :text %>
</div>

   <div class="actions">
    <%= form.submit %>
   </div>
     <% end %>
</div>



