  <%= form_with url: thecomments_path do |form| %>

   
      
   <%= form.hidden_field :article_id, :value => article.id %>
   <%= form.hidden_field :user_id, :value => current_user.id %>

   <%= form.label :title, "Title:" %>
   <%= form.text_area :title %>

   <%= form.label :text, "Text:" %>
   <%= form.text_area :text %>

   <div class="actions">
    <%= form.submit %>
   </div>
  <% end %>


